Repository rungalileo/docs-official, pull requests merged in 2025-08, with the labels that each got.

#289 Add release notes 2025 08 01
  images/release-notes/2025-08-01/2025-08-01-multi-agent-graph-view-v2.webp
  release-notes.mdx
Labels: release-notes

#295 Add new cookbook: Stripe Agent Toolkit
  .vale/styles/config/vocabularies/Galileo-Vocab/accept.txt
  cookbooks/use-cases/stripe-agent/stripe-agent-images/2025-08-06-Galileo-Gizmos.webp
  cookbooks/use-cases/stripe-agent/stripe-agent-images/2025-08-06-stripe-agent-log-stream.webp
  cookbooks/use-cases/stripe-agent/stripe-agent-tutorial.mdx
  docs.json
Labels: agentic-ai, cookbook, tutorial

#302 Chore/Update Linter
  .vale/styles/config/vocabularies/Galileo-Vocab/accept.txt
Labels: documentation

#301 update to add navigation tabs
  cookbooks/overview.mdx
  cookbooks/use-cases/stripe-agent/stripe-agent-tutorial.mdx
  docs.json
Labels: documentation

#310 Metrics Updates || Update Metric with Action Advancement.
  .vale/styles/config/vocabularies/Galileo-Vocab/accept.txt
  concepts/metrics/agentic/action-advancement.mdx
Labels: documentation, agentic-ai, Metrics

#318 Release Notes: 2025-08-15
  images/release-notes/2025-08-15/2025-08-15-gpt5-playground.png
  images/release-notes/2025-08-15/2025-08-GPT-in-prompt-store.png
  images/release-notes/2025-08-15/2025-08-metric-gpt5.png
  release-notes.mdx
Labels: documentation, release-notes

#313 Metric Updates || add LLM-as-Judge-Metric concept page
  concepts/metrics/how-llm-as-judge-metrics-are-calculated.mdx
  docs.json
Labels: documentation, Metrics

#309 Feat: Create metrics template to add consistency to our docs
  .github/templates/template-metric.md
  snippets/components/metric-when-to-use.mdx
Labels: template

#328 Fix: Update missing import component.
  .github/templates/template-metric.md
Labels: Nit, template

#334 Nit/Template Update: Add related resources CTA component + template metric
  .github/templates/template-metric.md
  snippets/components/related-resources.mdx
Labels: Nit, template

#344 Update what-is-galileo.mdx
  what-is-galileo.mdx
Labels: documentation, Nit

#346 Release notes/2025 08 29
  release-notes.mdx
Labels: release-notes
